@page
@model Hotel.Pages.serviceModel
@{
    ViewData["Title"] = "Service";
}
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<div class="container-fluid bg-success py-5 mb-5 bg-booking">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">

                            <h1 class="text-white heading mb-3">Our Service</h1>
                            <li class="text-white"><a class="text-success" href="Index">Home</a> &bullet; Service</li>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-success px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            @for (int i = 0; i < @Model.Table.Rows.Count; i++)
            {
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-@Model.Table.Rows[i][5] fa-2x text-success mb-4"></i>
                            <h5>@Model.Table.Rows[i][1]</h5>
                            <p>@Model.Table.Rows[i][2]</p><br />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay="0.3s">
            <a class="btn btn-success py-3 px-5 mt-4 center" href="reservation">Book Now</a>
        </div>
    </div>
</div>
<!-- Service End -->
