@page
@model Hotel.Pages.serviceModel
@{
    ViewData["Title"] = "Service";
}
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<div class="container-fluid bg-success py-5 mb-5 bg-booking">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">

                            <h1 class="text-white heading mb-3">Our Service</h1>
                            <li class="text-white"><a class="text-success" href="Index">Home</a> &bullet; Service</li>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-success px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-hotel fa-2x text-success mb-4"></i>
                        <h5>Rooms & Apartments</h5>
                        <p>Stylish comfort awaits in our rooms and apartments — modern retreats designed for an unforgettable stay.</p><br />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-success mb-4"></i>
                        <h5>Food & Restaurant:</h5>
                        <p>Indulge in culinary excellence at our restaurant, where each dish is a masterpiece, and every meal is an experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-spa text-success mb-4"></i>
                        <h5>Spa & Fitness</h5>
                        <p>Discover tranquility in our spa and energize at our fitness center — a perfect blend of relaxation and rejuvenation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-swimmer text-success mb-4"></i>
                        <h5>Sports & Gaming</h5>
                        <p>Thrill-seekers, rejoice! Experience adrenaline highs in our sports and gaming arena for non-stop excitement.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-glass-cheers text-success mb-4"></i>
                        <h5>Events & Party</h5>
                        <p>Celebrate life's moments with us. Our versatile event spaces set the scene for unforgettable gatherings and parties.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-dumbbell text-success mb-4"></i>
                        <h5>GYM & Yoga</h5>
                        <p>Elevate your well-being in our fitness haven. From invigorating workouts to serene yoga, find balance and vitality here.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->
